<section class="highlightBox">
    <div class="container" style="text-align:center">
        <h1 style="font-size:40px">COSPLAY, RETROGAMING, MATCHS COMMENTÉS</h1>
        <br/><hr/><br/>
        <p>Entrée gratuite pour les visiteurs le vendredi, samedi et dimanche aux horaires indiqués. L'inscription aux tournois officiels est payante.</p>
        <br/>
        <div class="grid-3-3 pull-left">
            <h1>VENDREDI</h1>
            <div style="text-align: center">
                <strong>20h00 - 00h00</strong>
            </div>
            <br>
            <div>
                Ouverture de la halle au public
                <br>Accueil des joueurs
                <br>Bornes d'arcade, jeux rétro
            </div>
        </div>

        <div class="grid-3-3 pull-left">
            <h1>SAMEDI</h1>
            <div style="text-align: center">
                <strong>09h00 - 00h00</strong>
            </div>
            <br>
            <div>
                Cérémonie d'ouverture
            </div>
            <div>
                Début des tournois officiels
            </div>
            <div>
                Concours cosplay
            </div>
        </div>
        <div class="grid-3-3 pull-left">
            <h1>DIMANCHE</h1>
            <div style="text-align: center">
                <strong>09h00 - 20h00</strong>
            </div>
            <br>
            <div>
                Poursuite des tournois
            </div>
            <div>
                Finales sur scène
            </div>
            <div>
                Cérémonie de cloture
            </div>
        </div>
        <br class="clear"/><br/><br/>
        L'InsaLan n'est possible que grâce au soutien de nos partenaires :
        <br/><br/>
        <div class="partner-list">
            <div class="partner">
                <a href="http://www.ldlc.com/magasins-ldlc/magasin-470049/35-ldlc-rennes/">
                    <img src="{{ asset('bundles/insalan/img/partenaires/ldlc-rennes.jpg') }}" alt="LDLC Rennes" />
                </a>
            </div>
            <div class="partner">
                <a href="http://www.rennes.fr">
                    <img src="{{ asset('bundles/insalan/img/partenaires/vdr.png') }}" alt="Ville de Rennes" />
                </a>
            </div>
        </div>
        <br/>
        <div class="partner-list">
            <div class="partner">
                <a href="http://www.3hitcombo.fr/">
                    <img src="{{ asset('bundles/insalan/img/partenaires/3hit.png') }}" alt="3Hit Combo" />
                </a>
            </div>
            <div class="partner">
                <a href="https://www.facebook.com/WarpZonebar">
                    <img src="{{ asset('bundles/insalan/img/partenaires/warpzone.png') }}" alt="Warp Zone" />
                </a>
            </div>
            <div class="partner partner-small">
                <a href="https://www.facebook.com/pages/JAPANIM-RENNES/107800482584960">
                    <img src="{{ asset('bundles/insalan/img/partenaires/japanim.jpg') }}" alt="Jap'Anim" />
                </a>
            </div>

        </div>
        <br/><br/>
        <div class="partner-list">
            <div class="partner partner-xsmall">
                <a href="http://www.canardpc.com">
                    <img src="{{ asset('bundles/insalan/img/partenaires/canardpc.png') }}" alt="CanardPC" />
                </a>
            </div>
            <div class="partner partner-xsmall">
                <a href="http://www.ouest-france.fr">
                    <img src="{{ asset('bundles/insalan/img/partenaires/ouest-france.png') }}" alt="Ouest France" />
                </a>
            </div>
            <div class="partner partner-xsmall">
                <a href="http://www.accrochenet.com">
                    <img src="{{ asset('bundles/insalan/img/partenaires/hil-proprete.jpg') }}" alt="HIL Propreté" />
                </a>
            </div>
            <div class="partner partner-xsmall">
                <a href="https://www.facebook.com/frikingrennesofficiel/">
                    <img src="{{ asset('bundles/insalan/img/partenaires/friking.jpg') }}" alt="Friking Rennes" />
                </a>
            </div>
            <div class="partner partner-xsmall">
                <a href="http://www.campanile.com/fr">
                    <img src="{{ asset('bundles/insalan/img/partenaires/campanile.png') }}" alt="Campanile" />
                </a>
            </div>

        </div>
        <br/>
        <div class="partner-list">
            <div class="partner partner-small">
                <a href="http://www.societegenerale.fr">
                    <img src="{{ asset('bundles/insalan/img/partenaires/sogé.png') }}" alt="Société Générale" />
                </a>
            </div>
            <div class="partner partner-small">
                <a href="http://www.breizhloc.fr">
                    <img src="{{ asset('bundles/insalan/img/partenaires/breizhloc.png') }}" alt="Breizh'Loc" />
                </a>
            </div>
            <div class="partner partner-small">
                <a href="http://www.star.fr">
                    <img src="{{ asset('bundles/insalan/img/partenaires/star.jpg') }}" alt="Star" />
                </a>
            </div>
            <div class="partner partner-small">
                <a href="https://pizza.dominos.fr">
                    <img src="{{ asset('bundles/insalan/img/partenaires/dominos.png') }}" alt="Domino's" />
                </a>
            </div>
            <div class="partner partner-small">
                <a href="http://www.noctua.at/">
                    <img src="{{ asset('bundles/insalan/img/partenaires/noctua.jpg') }}" alt="Noctua" />
                </a>
            </div>
            <div class="partner partner-small">
                <a href="https://www.quantic-telecom.net/">
                    <img src="{{ asset('bundles/insalan/img/partenaires/quantic-telecom.png') }}" alt="Quantic Telecom" />
                </a>
            </div>
            <div class="partner">
                <a href="http://www.otaku-planete.com/">
                    <img src="{{ asset('bundles/insalan/img/partenaires/otaku-planet.png') }}" alt="Otaku Planète" />
                </a>
            </div>
        </div>
    </div>
</section>
